.env
tests.http
deployment.zip
variables.tf
.terraform/providers
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
template.yml
MODULE.bazel.lock
bazel-bin
bazel-out
bazel-silence-of-the-lambdas
bazel-testlogs
bazel-testlogs
